<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<display-name>wechat</display-name>
	
	<!-- Web根路径变量别名，默认名称webapp.root -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.rootpath</param-value>
	</context-param>
	
	<!-- Spring上下文 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/context.xml</param-value>
	</context-param>
	
	<!-- LogBack日志框架 -->
    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>classpath:config/logback.xml</param-value>
    </context-param>

	<!-- Logback -->
    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>
	
	<!-- Spring Context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 作用域添加 -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- Spring容器清理，防止内存泄漏 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- 设置字符编码方式 -->
	<filter>
		<filter-name>character</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>character</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring MVC Framework -->
	<servlet>
		<servlet-name>webmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/webmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>webmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
		
	<!-- 首页 -->
	<welcome-file-list>
		<welcome-file>pages/index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Session失效时间 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- Error Page定义 -->
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/error/403.jsp</location>
	</error-page>
	
</web-app>